{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  font-family: 'Lato', sans-serif;  
}

.row{
  width: 100%;
}

.menu-title{
  text-align: center;
  margin-bottom: 30px;
}

.container{
 position: relative;
 top: 60px;
 margin: 15px; 
}

.head{
  position:relative;
  top: 0;
  background-color: #999999;
  margin:15px;
  padding: 25px;
  border: 3px solid #000;

}

.head p{
  margin-top: 50px;
  text-align: justify;
  position: relative;
  font-size: 100%;
  
}

.head-title{
  position: absolute;
  top: 0;
  right: 0;
  padding:  1px 90px;
  border-left:  2px solid #000;
  border-bottom: 2px solid #000;
}

#title-one {
  background-color: #D59898;
} 

#title-two{
  background-color: #C14543;
}

#title-three{
  background-color: #E5D198;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 995px) and (max-width: 1400px) {
  .col-lg-3{
    float: left ;

  }
  .col-lg-3 {
    width: 33.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 996px) {
  .col-md-5, .col-md-11{
    float: left;

  }
  .col-md-5 {
    width: 46.30%;
    float: left;
    margin-right: 15px;
  }
  .col-md-11 {
    width: 94%;
  }
  
}
 